<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hans.localirk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".LikrApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activiteis.ActivitySplash"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activiteis.ActivityLogin"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".activiteis.MainActivity"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activiteis.ActivitySingUp"
            android:parentActivityName=".activiteis.ActivityLogin"
            android:windowSoftInputMode="stateHidden">
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityLogin" />
        </activity>

        <activity
            android:name=".activiteis.ActivityEnterAsGuest"
            android:parentActivityName=".activiteis.ActivityLogin"
            android:windowSoftInputMode="stateHidden">
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityLogin" />
        </activity>

    </application>

</manifest>
